.list__item img{
width:200px;
height:200px;
}
.list__item{
 list-style-type: none; 

}

.paginationItem{
  display:none;  
}

.activePaginationItem{
   display:block; 
}

.active{
 border:5px solid red !important
}