.list__item {
  list-style-type: none;
}

.paginationItem {
  display: none;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
}

.paginationSlider {
  display: flex;
  gap: 10px;
}

.activePaginationItem {
  display: block;
}

.active {
  border: 5px solid red !important;
}
.sliderlist {
  display: flex;
  padding: 0;
  position: absolute;
  transition: transform 1s;
  left: 0;
}

.sliderBlock {
  overflow: hidden;
  position: relative;
}
.sliderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.blockWrapper {
  display: flex;
  position: relative;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-element {
  animation: rotateAnimation 0.5s linear;
}
